.axis {
    shape-rendering: crispEdges;
    fill: #ccc;
}
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}
.axis .tick {
    stroke: none;
    fill: #ccc;
    font-size: 14px;
}

path.data {
    stroke: #fff;
    fill: none;
    stroke-width: 2;
}

line.data {
    fill: none;
    stroke-width: 1;
}

rect.civil-twilight,
rect.nautical-twilight,
rect.astronomical-twilight,
rect.night  {
    stroke: none;
    fill: white;
    opacity: 0.1;
}

.month .night {
    shape-rendering: crispEdges;
}
.month .night rect {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1;
}
.month .night text {
    stroke: none;
    fill: #ccc;
    font-size: 12px;
}
.month .night .data {
    fill: none;
    stroke-width: 1;
}
