body {
    background-color: #555555;
    background-image: url('../img/background_555555.jpg');
    background-repeat: repeat-x;
    height: 100%;
    font-size: 13px;
}
a,
a:visited,
a:focus {
    color: #aaa;
}
a:hover {
    color: #f2fa61;
    text-decoration: none;
}
h1 {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
h3 {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
h3:first-child {
    margin-top: 0;
}
.container {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #101020;

    margin-bottom: -1px;
}

/* header */

.header .banner {
    height: 128px;
    background-image: url('../img/header_banner.jpg');
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #aaa;
}

/* navigation und footer */

.navigation,
.footer {
    background-image: linear-gradient(#3e557f 0%, #11113f 100%);
    margin-left: -15px;
    margin-right: -15px;
}
.navigation {
    border-bottom: 1px solid #aaa;
}
.footer {
    border-top: 1px solid #aaa;
}
.navigation .row div a {
    color: white;
    display: block;
    line-height: 30px;
    text-align: center;
}
.footer a {
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.navigation .row div a,
.footer div.pull-right a {
    color: white;
}
.navigation .row div a:hover,
.footer div.pull-right a:hover {
    color: #f2fa61;
}
/* content */

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;
}

.box {
    border: 1px solid #aaa;
}
.data-form {
    height: 200px;
}
.date-button {
    width: 100%;
    text-align: center;
}

.attribution > div {
    width: 48%;
}
.attribution img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.attribution img.aip-logo {
    width: 75%;
    margin-left: 10%;
}

.sidebar h2 {
    margin-top: 30px;
}
.sidebar h2:first-child {
    margin-top: 0;
}

.plot-canvas {
    position: relative;
    margin-bottom: 20px;
}
.plot-label {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.moon-canvas {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 78px;
}


.data-table td:first-child {
    width: 60%;
}
.data-table td:last-child {
    width: 40%;
}

.loading {
    font-size: 32px;
}
