.axis path {
    fill: none;
    stroke: #333;
    stroke-width: 1;
}
.axis line {
    fill: none;
    stroke: #333;
    stroke-width: 1;
}
.axis .tick {
    stroke: none;
    fill: #333;
    font-size: 14px;
}
.axis {
    shape-rendering: crispEdges;
}

path.data {
    stroke: #101020;
    fill: none;
    stroke-width: 2;
    /*shape-rendering: crispEdges;*/
}

line {
    fill: none;
    stroke-width: 1;
}

line.sunrise,
line.sunset {
    stroke: yellow;
}

line.civil_dusk,
line.civil_dawn {
    stroke: #888;
}
line.nautical_dusk,
line.nautical_dawn {
    stroke: #777;
}
line.astronomical_dusk,
line.astronomical_dawn {
    stroke: #666;
}
line.nadir {
    stroke: #333;
}

rect.civil-twilight,
rect.nautical-twilight,
rect.astronomical-twilight,
rect.night  {
    stroke: none;
    fill: black;
}
rect.civil-twilight {
    fill: #bbb;
}
rect.nautical-twilight {
    fill: #aaa;
}
rect.astronomical-twilight {
    fill: #999;
}
rect.night {
    fill: #888;
}
