body {
    color: #fff;
    background-color: #555555;
    background-image: url('img/background_555555.jpg');
    height: 100%;
}
p {
    font-size: 12px;
    color: #aaa;
}
a,
a:visited,
a:focus {
    color: #aaa;
}
a:hover {
    color: #f2fa61;
    text-decoration: none;
}
h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
h3 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
}
h3:first-child {
    margin-top: 0;
}
.container {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid #aaa;
    background-color: #101020;
}

/* header */

.header .banner {
    height: 128px;
    background-image: url('img/header_banner.jpg');
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #aaa;
}

/* navigation und footer */

.navigation,
.footer {
    background-image: linear-gradient(#3e557f 0%, #11113f 100%);
    margin-left: -15px;
    margin-right: -15px;
}
.navigation {
    border-bottom: 1px solid #aaa;
}
.footer {
    border-top: 1px solid #aaa;
}
.navigation .row div a {
    color: white;
    display: block;
    line-height: 30px;
    text-align: center;
}
.footer div.pull-right a {
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.navigation .row div a,
.footer div.pull-right a {
    color: white;
}
.navigation .row div a:hover,
.footer div.pull-right a:hover {
    color: #f2fa61;
}
/* content */

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;
}

.box {
    border: 1px solid #aaa;
}
.data-form {
    height: 200px;
}
.attribution > div {
    width: 48%;
}
.attribution img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.attribution img.aip-logo {
    width: 75%;
    margin-left: 10%;
}
.site-form button:first-child {
    padding-left: 15px;
    padding-right: 20px;
}
.site-form button:last-child {
    padding-left: 20px;
    padding-right: 15px;
}

.sidebar h2 {
    margin-top: 30px;
}
.sidebar h2:first-child {
    margin-top: 0;
}

.plot-canvas {
    position: relative;
    margin-bottom: 20px;
}
.plot-label-empty {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.moon-canvas {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}


.data-table td:first-child {
    width: 60%;
}
.data-table td:last-child {
    width: 40%;
}