{% load staticfiles %}
{% load vendor_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Datenbank AIP - Verlust der Nacht</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name='baseurl' content="{% url 'home' %}" />
    <meta name='staticurl' content="{% static '' %}" />

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    {% vendor 'jquery' %}
    {% vendor 'd3' %}
    {% vendor 'angular' %}
    {% vendor 'bootstrap' %}
    {% vendor 'moment' %}
    {% vendor 'font-awesome' %}

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plot.css' %}" />

    {% block head %}{% endblock %}
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="banner"></div>
        </div>
        <div class="navigation">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'home' %}">Verlust der Nacht - Datenbank AIP</a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.verlustdernacht.de">Forschungsverbund - Homepage</a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.aip.de">Leibniz-Institut für Astrophysik AIP</a>
                </div>
            </div>
        </div>
        <div class="content">
        {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                <a href="{% url 'impressum' %}">Impressum</a>
            </div>
            <div>
                <a href="{% url 'admin:index' %}">Admin</a>
            </div>
        </div>
    </div>

    {% if not debug %}
    <!-- Piwik -->

    <!-- End Piwik Code -->
    {% endif %}
</body>
</html>
