{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>Datenbank AIP - Verlust der Nacht</title>
    <meta charset="UTF-8" />

    <meta name='baseurl' content="{% url 'home' %}" />
    <meta name='staticurl' content="{% static '' %}" />

    <base href="{% url 'data' %}" />

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plot.css' %}" />

    <script type="text/javascript" src="{% static 'lib/jquery-2.1.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/angular/angular-resource.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/angular/i18n/angular-locale_de-de.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/d3/d3.v3.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/moment.min.js' %}" ></script>

    {% block head %}{% endblock %}
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="banner"></div>
        </div>
        <div class="navigation">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'home' %}">Verlust der Nacht - Datenbank AIP</a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.verlustdernacht.de">Forschungsverbund - Homepage</a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.aip.de">Leibniz-Institut für Astrophysik AIP</a>
                </div>
            </div>
        </div>
        <div class="content">
        {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                <a href="{% url 'impressum' %}">Impressum</a>
            </div>
            <div>
                <a href="{% url 'admin:index' %}">Admin</a>
            </div>
        </div>
    </div>

    {% if not debug %}
    <!-- Piwik -->

    <!-- End Piwik Code -->
    {% endif %}
</body>
</html>
