{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <base href="{% url 'data' %}" />

    <script type="text/javascript" src="{% static 'js/data/app.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/data/service/data.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/data/service/plot.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="row" ng-app="data" ng-controller="DataController">
    <div ng-show="service.location && service.date">
        {% include 'data_night.html' %}
    </div>

    <div ng-show="service.month">
        {% include 'data_month.html' %}
    </div>
</div>
{% endblock %}
