{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'data.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="row" ng-app="data" ng-controller="DataController">
    <div class="col-md-9">

        <h2>Data for {$ service.location.name $}</h2>

        <div class="canvas" ng-hide="service.dialpad">
            <svg id="plot" class="box" viewBox="0 0 640 480" preserveAspectRatio="xMidYMid" />
        </div>

    </div>
    <div class="col-md-3">

        <h2>Site information</h2>

        <dl>
            <dt>Location</dt>
            <dd>{$ service.location.name $}</dd>

            <div ng-show="service.location.device">
                <dt>Device</dt>
                <dd>{$ service.location.device $}</dd>
            </div>

            <dt>Location</dt>
            <dd>{$ service.location.longitude $} N / {$ service.location.latitude $} E</dd>

        </dl>

        <form name="SiteForm" class="site-form">
            <div class="form-group">

                <label for="site">Select different site</label>
                <select id="site" class="form-control"
                    ng-model="service.location.slug"
                    ng-options="location.slug as location.name for location in service.locations">
                </select>

            </div>

            <div class="form-group">
                <label for="date">Select date</label>
                <input type="date" id="date" class="form-control" ng-model="service.date"></input>
            </div>

        </form>
    </div>
</div>
{% endblock %}
