{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/home/app.js' %}" ></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">

        <div ng-app="home" ng-controller="HomeController">
            <h3>
                <span>{$ service.location.name $}</span>
                <span ng-show="service.today">heute Nacht</span>
                <span ng-show="!service.today">letzte Nacht</span>
            </h3>

            <div class="plot-canvas box" ng-click="service.data()">
                <div class="plot-label">
                    <span ng-show="service.no_data">Keine Daten vorhanden</span>
                    <span ng-show="service.loading">Wird geladen</span>
                </div>
                <svg id="plot" viewBox="0 0 289 216" preserveAspectRatio="xMidYMid" />
            </div>
        </div>

        <h3>Sponsored by</h3>

        <div class="attribution">
            <div class="pull-left">
                <a href="http://www.aip.de">
                    <img class="aip-logo" src="{% static 'img/AIP_neg.png' %}"></img>
                </a>
            </div>
            <div class="pull-right">
                <a href="http://www.bmbf.de">
                    <img src="{% static 'img/bmbf_logo.jpg' %}"></img>
                </a>
                <a href="http://www.g-vo.org">
                    <img src="{% static 'img/gavo_logo.png' %}"></img>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1>Wie hell ist die Nacht?</h1>

        <p>
            Die Betrachtung des Sternenhimmels ist nur im Dunkeln, im Allgemeinen des nachts möglich. Diese banal anmutende Feststellung zieht Fragen nach sich: Wie dunkel muss der Himmel sein, um die Sterne beobachten zu können? Wie hell ist die Nacht?
        </p>
        <p>
            Das Sternenlicht 'ertrinkt' im Lichtermeer unserer Großstädte. Etwa die Hälfte der mitteleuropäischen Bevolkerung kann selbst bei sonst besten Beobachtungsbedingungen die Milchstraße prinzipiell nicht erkennen.
        </p>
        <p>
            Der Lichterteppich wächst, lokal und weltweit. Aber wie schnell und was sind die treibenden Faktoren? Mit einer langfristig angelegten Messkampagne sollen die Grundlagen für eine empirische Studie zur Charakterisierung der Nachthimmelshelligkeit im Berlin/Potsdamer Raum geschaffen werden. Beobachtungen vom Standort Teide-Observatorium auf Teneriffa dienen als Referenz zum Vergleich mit den lokalen Beobachtungen.
        </p>
        <p>
            Kommerzielle Lichtsensoren vom Typ SQM und MarkPro wurden in einem Messnetz in und um Berlin aufgestellt und liefern einen kontinuierlichen Datenstrom, der den Verlauf der Nachthimmelshelligkeit beschreibt. Ein am Standort Babelsberg aufgenommenes und täglich aktualisiertes Beispiel ist im Diagrammblock links oben dargestellt.
        </p>
        <ul>
            <li>
                <a title="Datenbank" href="{% url 'data' %}">Datenbankzugriff</a>
            </li>
            <li>
                <a title="Messnetz" href="{% url 'locations' %}">Standorte der SQM- und MarkPro-Lichtsensoren</a>
            </li>
            <li>
                <a title="API" href="{% url 'api-root' %}">REST API</a>
            </li>
            </ul>
    </div>
</div>
{% endblock %}
