{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <h2>Impressum</h2>

        <p>
            Diese Webseiten werden vom Leibniz-Institut für Astrophysik Potsdam (AIP) betrieben. Es gilt das unter <a href="http://www.aip.de/en/impressum">http://www.aip.de/de/impressum</a> zu findende Impressum des AIP.
        </p>
        <p>
            These web pages are hosted by the Leibniz-Institute for Astrophysics Potsdam (AIP). The impressum of the AIP can be found under <a href="http://www.aip.de/en/impressum">http://www.aip.de/en/impressum</a>.
        </p>
    </div>
</div>
{% endblock %}
